.input {
  display: flex;
  input {
    flex: 1;
    padding: .75rem;
    background: rgba(0,0,0,.04);
    border-radius: .75rem;
    outline: unset;
    border: unset;
    font-size: .875rem;
    line-height: 1rem;

    &:hover {
      background: rgba(0,0,0,.06);
    }
    &:focus {
      background: rgba(0,0,0,.08);
    }
  }
}