.layout {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  gap: .75rem;
  padding: .75rem;
}

.sidebar {
  max-width: 16rem;
  width: 16rem;
  position: sticky;
  overflow: auto;
  top: 0; 
}

.content {
  flex: 1;
}