.todo-item-skeleton {
  display: flex;
  gap: .75rem;
  padding: .675rem 0.75rem;
  animation: .7s ease-in-out 1.4s infinite alternate shimmer;
  &__circle {
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background: hsl(0, 0%, 20%);
  }
  &__content {
    border-radius: .325rem;
    height: 100%;
    // width: 15rem;
    flex: 1;
    background: hsl(0, 0%, 20%);
  }
}

@keyframes shimmer {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}